<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>
<div class="container-fluid">
    <div class="node-info main-component">
        <input type="hidden" class="project_id" value="<%= projectInfo.id %>">
        <div class="line project-row">
            <div class="row-label">Project:</div>
            <div class="row-value">Loading project...</div>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#peerInfoModal">Show peer info</button>
        </div>

        <div class="line peers-row">
            <div class="row-label">Connected Peers:</div>
            <div class="row-value" style="width: 88%;"><span class="peers-count"></span>
                <div class="node-buttons-area">
                    <button class="btn btn-info publish-repository">Share Local Folder</button>
                    <button class="btn btn-info update-repository">Update Local Folder</button>
                    <button class="btn btn-info">Update Local Folder From specific peer</button>
                </div>
            </div>

        </div>

    </div>
    <div class="version-control component">
        <div class="line title-row">
            <div class="">Git - version control</div>
        </div>
        <div class="line sync-row">
            <div class="row-label" style="width: 150px">Last time synced:</div>
            <div class="row-value">27-apr-2020 12:04:25</div>
        </div>

        <div class="line sync-row">
            <button class="btn btn-info">Publish work</button>
            <button class="btn btn-info">Update work</button>
        </div>
        <div class="line diff-row">
            <div>Changed files</div>
        </div>
    </div>
    <div class="messaging component">
        <div class="line title-row">
            <div class="">Matrix - Messaging</div>
        </div>
        <div class="line messages-row">
            <div class="">Conversations</div>
            <div class="message-row">
                <span class="person">Thomas</span><span class="no-of-messages badge badge-danger">2</span> <span
                        class="message">New meeting planned on wednesday. Make sure you are available</span>
            </div>
            <div class="message-row">
                <span class="person">Alin</span><span class="no-of-messages badge badge-danger">1</span> <span
                        class="message">Thank you.</span>
            </div>

        </div>
        <button class="btn btn-info new-convo">New conversation</button>
    </div>
    <div class="management component">
        <div class="line title-row">
            <div class="">Project management</div>
        </div>
        <div style="height: 250px">


        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="peerInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Node info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <div class="line id-row">
                        <div class="row-label">Peer ID:</div>
                        <div class="row-value"></div>
                    </div>

                    <div class="line local-addrs-row">
                        <div class="row-label">Swarm Local Address:</div>
                        <textarea class="row-value" rows="6" readonly></textarea>
                    </div>
                <div class="line swarm-key-row">
                    <div class="row-label">Swarm key content:</div>
                    <textarea class="row-value" rows="6" readonly></textarea>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/javascripts/home.js"></script>

</html>
