<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body style="background-color: #eeeeee;">
    <form action="/login" method="post"style="padding: 20px;background-color: white;">
        <button type="submit">login</button>
    </form>
</body>

</html>
