.component {
    width: 49%;
    display: inline-block;
    border: 1px solid black;
    padding-left: 15px;
}
.main-component {
    border: 1px solid black;
    padding-left: 15px;
}
.main-component > .line {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;

}

 .row-label {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}
.row-value {
    display: inline-block;
    width: 50%;

}
.folder-row div:not(:first-child) {
    display: inline-block;
    margin-right: 30px;
}
.folder-row:not(:first-child) .row-label  {
    visibility: hidden;
}
